@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

/* to achieve glassmorph effect on the navbar */
@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}
.navbar,
.menu-s {
    background: rgba(234, 248, 249, 0.08);
    box-shadow: -51.53333px 51.53333px 51.53333px 0px rgba(255, 255, 255, 0.08)
            inset,
        51.53333px -51.53333px 51.53333px 0px rgba(178, 188, 189, 0.08) inset;
    backdrop-filter: blur(24.220666885375977px);
}
.custom-text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
}

.logo-container {
    padding: 0;
}

/* Add padding when screen width is at least 300px */
@media (min-width: 300px) {
    .logo-container {
        padding-left: 10px;
    }
}

.custom-arrow-r,
.custom-arrow-l {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.custom-arrow-r {
    left: 100%;
}

.custom-arrow-l {
    right: 100%;
}

.rtl {
    direction: rtl;
}

.rtl .right-align-text {
    text-align: right;
}

.search-bar {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}

.search-bar.open {
    width: 140px; /* Width of the open search bar */
}

.darkened-logo {
    filter: brightness(0.7); /* Adjust the brightness value as needed */
}

.tab.active {
    border-bottom: 2px solid #d3d3d3;
}
.ql-toolbar {
    border-color: #363636;
}
.quill {
    background-color: #ffff;
    font-size: 3rem;
    color: #363636;
    height: 14rem;
}
