@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

.custom-text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
}

.logo-container {
    padding: 0;
}

/* Add padding when screen width is at least 300px */
@media (min-width: 300px) {
    .logo-container {
        padding-left: 10px;
    }
}

.custom-arrow-r,
.custom-arrow-l {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.custom-arrow-r {
    left: 100%;
}

.custom-arrow-l {
    right: 100%;
}

.rtl {
    direction: rtl;
}

.rtl .right-align-text {
    text-align: right;
}
